<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.instanceservice">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Home"
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InstanceService">
        <activity android:name=".AddCar"></activity>
        <activity android:name=".EditProfile" />
        <activity android:name=".FinalPayment" />
        <activity android:name=".repair_job" />
        <activity android:name=".full_body_paint" />
        <activity android:name=".ac_service" />
        <activity android:name=".car_spa" />
        <activity android:name=".Oil_change" />
        <activity android:name=".bumper_repair" />
        <activity android:name=".car_polish" />
        <activity android:name=".Interior_detailing" />
        <activity android:name=".Dent_Scratch_removal" />
        <activity android:name=".General_Services" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.InstanceService.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/sign_in"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.InstanceService">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>